- var zero = urls.length == 0


doctype html
html
    head
        include partials/head
    body
       .container-fluid
            include partials/navbar
           .row.clearfix
               if !zero
                   .col-xs-3#page-selector-menu

                           ul.nav.nav-tabs.tabs-left
                               each val,index in urls
                                   li(class='#{index == 0 ? "active" : ""}')
                                       a(data-toggle='tab', href='##{index}') #{val}


                   .col-md-8
                       .row.clearfix
                           .btn-group
                                include partials/metrics
                                select(data-bind='value: selectedHistory')
                                    each val in dates
                                        option #{val}

                       .tab-content.top-buffer
                           each val, index in urls
                                .tab-pane.result-content(id='#{index}',class='#{index ==0  ? "active" : ""}')
                                        p #{val}

                   .col-md-1.top-buffer-2x

                       button.btn.btn-info.active Graph
                       button.btn.btn-info.active Timeline
                       button.btn.btn-info Numbers

                else
                    .cols-md-12
                        p No Results yet.

        include partials/footer